.login-form *{
    margin: 20px;
    font-weight: 500;
}

.login-form input{
    width: 70%;
    padding: 10px;
}

.login-form button {
    color: white;
    border-color: white;
    padding:  7px 20px;
}

.login-page {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
.login-form {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    padding: 70px 7px 170px 7px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
